body {
	background-color: grey;
	padding-left: 25%;
}

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

#sideBar {
	position: fixed;
	width: 25%;
	height: 100%;
	background-color: rgb(50, 50, 50);
	transition: 1000ms;
    left: 0%;
	top: 0px;
    text-align: center;
}

#sideBar h2 {
	color: white;
	font-size: 30px;
}

#sideBar ul {
    margin: 0;
    padding: 0;
}

#sideBar ul li {
	list-style: none;
}

#sideBar ul p {
	cursor: pointer;
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-family: arial;
	transition: 500ms;
}

#sideBar ul p:hover {
	color: blue;
	transition: 500ms;
}

#sideBar a {
	cursor: pointer;
	color: white;
	text-decoration: none;
	font-size: 30px;
	font-family: arial;
	transition: 500ms;
}

#sideBar a:hover {
	color: blue;
	transition: 500ms;
}

#instagramIcon {
	position: absolute;
	width: 50px;
	height: 50px;
	left: calc(50% - 25px);
	bottom: 25px;
	cursor: pointer;
}

.Profile {
	margin-left: 10%;
	margin-right: 10%;
}

.Profile img {
	height: 225px;
	padding-bottom: 10px;
	padding-right: 10px;
	float: left;
}

.Profile h1 {
	font-size: 35px;
	color: white;
	padding-bottom: 10px;
	font-family: arial;
}

.Profile p {
	font-size: 20px;
    text-align: justify;
}

#facePhoto {
	height: 90%;
	width: 90%;
	margin-left: 5%;
}