#gameBoard {
	position: absolute;
	height: 500px;
	width: 500px;
	left: calc(50% - 250px);
	background: url(Assets/space.jpg);
}

#spaceShip {
	position: absolute;
	transform: scale(0.5);
}

#infoBox {
	position: absolute;
	right: calc(50% + 250px);
	height: 500px;
	width: calc((100% - 500px) / 2);
	text-align: center;
}

#infoBox h1 {
	font-size: 20px;
}

#endGameScreen h1 {
	font-size: 75px;
	color: deepskyblue;
}

#endGameScreen {
	position: absolute;
	top: 20px;
	left: calc(50% - 220px);
	display: none;
	text-align: center;
}