body {
	padding: 0; 
	margin: 0;
	height: 100%; 
	background-image: 
	url('http:/lachlangmurphy.com/Home_Assets/Home_Background.jpg'); 
	background-repeat: 
	no-repeat; 
	background-attachment: 
	fixed; background-size: cover; 
	background-position: center;
}

.links {
	padding: 25px;
	margin: 0px;
	text-align: center;
}

.links ul a {
	display: inline-block;
	background-color: black;
	padding: 25px 5%;
	margin: 10px 30px;
	border-radius: 25px;
	color: rgba(168, 87, 168, 1);
	font-size: 30px;
	text-decoration: none;
	transition: .5s;
}

.links ul a:hover {
	display: inline-block;
	background-color: black;
	padding: 40px 25%;
	margin: 10px 30px;
	border-radius: 25px;
	color: rgba(0,255,255);
	font-size: 30px;
	text-decoration: none;
	transition: .5s;
}

h1 {
	text-align: center;
	font-size: 50px;
	color: white;
	text-shadow: 5px 5px 5px black;
	margin: 25px 5px;
}